@page "/"

@inject NavigationManager NavManager

<h1>Insurance Calculator</h1>

<hr />
<button class="btn btn-primary" @onclick="GoToView">New Calculation</button>

@code {

    private void GoToView()
    {
        NavManager.NavigateTo($"/insurnace/screen1/");
    }
}
